body {
    font-family: 'goudy old style', 'minion pro', 'bell mt', Georgia, 'Hiragino Mincho Pro', serif;
    font-size: 17px;
    background-color: white;
    color:  #202a77 ;
    margin: 0;
    padding: 0;
    text-align: center;
    
}

a {text-decoration: none;
}

.button {
    /*background-color: white  ; */
     
    padding-left: 15px;
    font-family: 'goudy old style', 'minion pro';
    font:  white ;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 1px 1px 1px;
    cursor: pointer;
    
}

.btn-primary {
    margin-left: 5px;
}
