{% extends "layout.html" %}

{% block content %}
        <main class="hero-section">
            <div class="container">
                <h2>Discover the power of programming</h2>
                    <button type="button" class="button" >
                    <a href="#" class="btn-primary">Sign up for course</a> </button>
                    <button type="button" class="button" >
                    <a href="#" class="btn-secondary">Learn more</a>
                    </button>
            </div>
        </main>
{% endblock %}
    