<!DOCTYPE html>
<!DOCTYPE html>
<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans=300, 400, 600' rel='stylesheet' />
        <link href="{{ url_for('static', filename='css/main.css') }}" rel='stylesheet' />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <header>
            <div class="container">
             <h1>Kangaroo Learning</h1>
            </div>
            
        </header>
        
        {% block content %}
        {% endblock %}
        
    </body>
    <footer><p>&copy; 2018 KangarooLearning.com<p></footer>
</html>
    
    